/* tamanho da tabela e fontes das letras */

.table { 
    width: auto;
    height: 100%;
    padding: 0%;
    border: 1px solid black;
    font-size: medium;
    font-family: serif;

}

/* Linhas e Colunas da Tabela */
.table tr, .table td {
    border: 1px solid black;
    padding: 5px;
}
