body{
    background-color: #1d2935;
}
.perfil-box{
    max-width: 400px;
    margin: 50px auto; 
    background: #2c3e50;
    padding: 190px; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(94, 110, 255, 0.342); 
    color: aliceblue;
    }

.campo{
    margin-bottom: 15px;
}

.usuario{
    display: flex;
    background-color: rgb(209, 213, 216);
    padding:45px;
    float: left;
    float: right;
    border-radius: 90px 90px 90px 90px;
}

#nome-usuario{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}